html {
    font-family: sans-serif;
    background: #f8f6f7;
    width: 100%;
}

.largura {
    min-width: 1000px;
}

.menu {
    font-size: 20px;
    background: white;
    position: fixed;
    width: 100%;
}

.organizacao-menu {
    display: flex;
    align-items: center;
    padding: 0.4em;
}

.menu-esquerda, 
.menu-direita {
    flex: 1;
}

.menu-esquerda {
    padding-left: 8em;
    display: flex;
    align-items: flex-end;
    font-weight: 700;
}

.menu-direita {
    text-align: right;
    word-spacing: 2em;
    padding-right: 8em;
}

.vermelho {
    color: #f35926;
    font-size: 2em;
    font-weight: 700;
}

.amarelo {
    color: #fcb929;
    font-size: 2em;
    font-weight: 700;
}

.verde {
    color: #00b049;
    font-size: 2em;
    font-weight: 700;
}

.formulario {
    background: url(../img/barcos.webp);
    background-size: 100%;
    padding: 160px;
    background-repeat: no-repeat;
    min-width: max-content;
}

.form {
    text-align: justify;
    padding: 0.9em;
    font-size: 1.5em;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    margin-top: -3em;
}

h2 {
    margin-bottom: 1em;
    font-weight: 700;
}

.caixas {
    display: flex;
    justify-content: center;
    column-gap: 18px;
}

.campodacaixa {
    text-align: justify;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 3px;
    flex: 5px;
    padding: 9px 2px 5px;
}

::placeholder {
    color: rgb(122, 122, 122);
    font-size: 20px;
}

button {
    border: 1px solid #ea3d35;
    background: #ea3d35;
    border-radius: 4px;
    padding: 0.2em;
    color: white;
    font-weight: 650;
    font-size: 0.9em;
}

.descontos > h2 {
    text-indent: 7em;
    margin-top: 2em;
    font-size: 1.5em;
}

.opçoes {
    display: grid;
    grid-template-columns: 239px 239px 239px 239px;
    gap: 20px 20px;
    grid-template-rows: 202px;
    padding-left: 10.5em;
    padding-right: 10.5em;
}

h3 {
    margin-bottom: 1em;
    color: white;
    text-shadow: 1px 1px rgba(46, 46, 46, 0.637);
    font-weight: 600;
    font-size: 0.8em;
}

.valor {
    font-size: 1.3em;
    color: white;
    text-shadow: -1px 1px rgba(46, 46, 46, 0.637);
    font-weight: 600;
}

article > p {
    margin-top: 1.6em;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    padding: 0.4em;
    font-size: 0.6em;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: -1px 1px rgba(46, 46, 46, 0.637);
}

.rio {
    background: url(../img/rio.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.bonito {
    background: url(../img/bonito.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.sao {
    background: url(../img/sao-paulo.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.foz {
    background: url(../img/foz.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.maceio {
    background: url(../img/maceio.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4em;
    height: 200px;
}

.salvador {
    background: url(../img/salvador.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4em;
}

.fortaleza {
    background: url(../img/fortaleza.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4em;
}

.belo {
    background: url(../img/belo-horizonte.webp);
    padding: 1em;
    text-align: center;
    background-size: cover;
    border-radius: 20px;
    font-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4em;
}